.home {
    background-color: black;
    height: 100%;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
}

.grid-container {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
    position: absolute;
}

.grid-image {
    top: 20vh;
    height: 92%;
    width: 92%;
}

.main-name-container {
    position: absolute;
    top: 14%;
    margin-left: 6vw;
}

.main-logo {
    margin-left: 2%;
    position: relative;
}

.main-logo-name {
    margin-left: 8%;
    position: relative;
    font-size: 6rem;
    font-weight: bold;
    background-image: linear-gradient(179.23deg, #B1B1B1 -41.85%, #444444 99.34%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    width: 1000px;
}

.main-logo-tagline {
    position: relative;
    color: #8c8c8c;
    font-size: 1.4rem;
    letter-spacing: 4px;
    margin-left: 27vw;
}

.coming-soon {
    text-align: center;
    color: #5f5f5f;
    font-weight: 100;
    letter-spacing: 0.8vw;
    font-size: 1.4rem;
}